{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .button-delete {
        background: #c52727;
        color: rgb(253, 253, 253);
    }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <title>Home</title>

    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}"
    />

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    
  </head>
  <body>
    {% if user.is_authenticated %}
    <h1>Welcome, {{user.username}}</h1>

    <p><a href="{% url 'logout' %}">Log Out</a></p>


    <!-- List of uploaded documents -->

    
    <table class="table1">
      <thead>
        <tr>
          <th>Name of File</th>
          <th>Action</th>
        </tr>
      </thead>
      
        
        
          
            <tr> 
              {% if documents %}
        
                {% for document in documents %}
              
              <td class="td">
                
                <a href="{{ document.docfile.url }}">{{ document.docfile }}</a></td>
                        
              
              <td class="td">
                <form method="post" action="{% url 'delete_file' document.id %}">
                  {% csrf_token %}
                  <button type="submit"  class="button-delete">Delete</button>
                </form>
              </td>
            </tr>  
            {% endfor %}  
        
        
        
    {% else %}
    <tr>
      <td>
        <p>No documents.</p>
        </td>
      <td>
        <p>None</p>
      </td>
    </tr>
    {% endif %}
  </table>

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'fileupload' %}"  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table1">
              <tr><th>
                <p>{{ form.non_field_errors }}</p>
              <p>{{ form.docfile.label }} 
              
              {{ form.docfile }}
               {{ form.docfile.help_text }}</p>
              </th>
              </tr>  
            </table>  
          <div>
            
            <table class="table2">
              <tr>
                <th><input type="submit" name="signin" id="signin" class="form-submit" value="Upload & Check for Plagiarism" /></form></th>  
                          
              </tr>
            </table>
          </div>       
            
        
        
      
    

        

    {% else %}
    <h1>pls login first</h1>
    {% endif %} {% csrf_token %}
  </body>
</html>
