{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .button-delete {
        background: #c52727;
        color: rgb(253, 253, 253);
    }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <title>Home</title>

    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}"
    />

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    
  </head>
  <body>
    {% if user.is_authenticated %}
    <h1>Welcome, {{user.username}}</h1>

    <p><a href="{% url 'logout' %}">Log Out</a></p>


    <!-- List of uploaded documents -->
    <div>
      <container>
        {% if documents %}
        <ul>
        {% for document in documents %}
        <table>
        <tr>
          <th><a href="{{ document.docfile.url }}">{{ document.docfile }}</a></th>
          
          
          <th>
            <form method="post" action="{% url 'delete_file' document.id %}">
              {% csrf_token %}
              <button type="submit"  class="button-delete">Delete</button>
            </form>
          </th>
            
        </tr>  
        </table>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'fileupload' %}"  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label }} 
              {{ form.docfile }}
               {{ form.docfile.help_text }}</p>
          
            <table>
              <tr>
                <th><input type="submit" name="signin" id="signin" class="form-submit" value="Upload" /></th>
                <th><input type="submit" name="check" id="check" class="form-submit" value="Check for Plagiarism" /></th>                
              </tr>
            </table>       
            
        </form>
      </container>
    </div>

        

    {% else %}
    <h1>pls login first</h1>
    {% endif %} {% csrf_token %}
  </body>
</html>
