{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
      
        <div class="display-flex">
            
            <div class="display-flex">
                <h2>About the tool</h2>
            </div>
            <div class="display-flex-center" >
                <img style = "position:absolute;" src="static/images/logo1fyp.png">
            </div>
            <div class="display-flex">
                <a href="signin.html"><span>Login</span></a>
            </div>
            
           
           
        </div>
        <h3>Introduction</h3>
        <p>This tool is developed for the lecturers where they can upload their own document in the repository. This system is build using Django
            and MongoDB as database. This system also used NLTK and BeautifulSoup 4. NLTK library one of the leading natural language procesing toolkit 
            develpoed using python language. It is used for tokenizing of words and sentences. While BeautifulSoup is use to extract website content. 
        </p>
        <h3>How to use the system</h3>
        <p>User needs to have an account. After loging in user can see options for creating the class and uploading document.
            By entering necessary information user can create a class. System will provide the user with a unique ID which is necessary because the 
            sudent will need to enter that ID for submission. Clicking on the ID will show the view of submitted document. If user wish to 
            delete any document or class or document from class, it can be done easily as it is all time visible in action column 
        </p>
        <br>
        <h3>Click here to submit a document: <a href="submit.html"><span>Submit</span> </h3>
        
    
    
        
    
    
</body>
</html>