{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
      
        <div class="display-flex">
            
            <div class="display-flex">
                <h2 class="about_tool">About the tool</h2>
            </div>
            <div class="display-flex-center" >
                <img style = "position:absolute;" src="static/images/logo1fyp.png">
            </div>
            <div class="display-flex">
                <a href="signin.html"><span>Login</span></a>
            </div>
            
           
           
        </div>
        
      
    
    
        
    
    
</body>
</html>