{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagirism Report</title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

  
  <h1>Plag from Class</h1>
  <table class= "table">
    <thead>
      <tr>
        <th>Text</th>
        <th>Similarity (%)</th>
      </tr>
    </thead>
    <tbody>
      {% if c %}
      {% for i in c %}
      <tr>
        <th>{{ i.index}}</th>
        <td>{{ i.Similarity}}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>

  </table>
 
  <form method="post" action="{% url 'class_file_upload_confirmation' %}" enctype="multipart/form-data" >

    {% csrf_token %}
    <input type="text" name="classID" placeholder="Class ID" value="{{classID}}">
        <input type="text" name="matricNo" placeholder="Matric number" value="{{matricNo}}">
        <input type="text" name="title" placeholder="Title" value="{{title}}">
        <input type="text" name="class_filedata" accept=".txt" value="{{class_filedata}}">
        <input type="submit" class="form-submit" value="submit">
    <!-- <h5>{{class_filedata}}</h5>
    <h5>{{classID}}</h5>
    <h5>{{class_docfile}}</h5>
    <h5>{{matricNo}}</h5>
    <h5>{{title}}</h5> -->

    <!-- <button type="submit"  class="form-submit" ></button> -->
  </form>    
</body>
</html>
