{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}"
    />

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>
<body>
  <table class="table1">
    
    <tr>
      <th>
        <p>Submission</p>
      </th>
    </tr>
    <tr>
      <th>
        <form action = "{% url 'class_fileupload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          
        <input type="text" name="classID" placeholder="Class ID">
        <input type="text" name="matricNo" placeholder="Matric number">
        <input type="text" name="title" placeholder="Title">
        <input type="file" name="class_docfile" accept=".txt">
        <input type="submit" class="form-submit" value="submit">

        </form>
      </th>
    </tr>
  </table>
  {% include 'message.html' %}

  
</body>
</html>




